<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <p class="flow-text">{{question.text}}</p>
    </mat-panel-title>
    <mat-panel-description>
      {{question.user.username}} on {{question.created|date:'d/M/yy hh:mm'}}
    </mat-panel-description>
    <img src="{{endpoint}}/users/img/{{question.user.username}}" style="height:3%;width:3%" class="circle">
  </mat-expansion-panel-header>
  <mat-panel-description *ngIf="question.answers">
    <div class="row">
      <app-answer *ngFor="let answer of question.answers" [answer]="answer">
      </app-answer>
    </div>
  </mat-panel-description>
  <mat-action-row>
    <div class="left-align">
    <i class="material-icons">thumb_up</i>
    {{question.upvotes}}
    </div>
    <a id="clickable" class="col s2 green-text" (click)="openDialog()">Answer</a>
  </mat-action-row>
</mat-expansion-panel>
